
<h1>New Item</h1>

<%= form_with(model: @item, url: items_path) do |form| %>
  <br>
  <%= form.label :identification %>
  <%= form.text_field :identification %>
  <br>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :mobile %>
  <%= form.text_field :mobile %>
  <br>
  <%= form.submit 'Create Item' %>
<% end %>
<%= stylesheet_link_tag 'styles.css', media: 'all', 'data-turbolinks-track': 'reload' %>
